h3 {
   margin-top: 2px;
   margin-bottom: 10px;
}

.custom-control {
   margin-left: 32px;
   margin-top: 12px;
   margin-bottom: 8px;
}
.task {
   width: 32px;
   height: 32px;
}
.btn {
   font-size: $font-size-base * 1.2;
   font-family: $font-family-sans-serif;
   font-weight: 400;
   padding: 5px, 0px, 4px, 0px;
}

.btn-group {
   padding: 2px;
}

.background-image {
   background: url("../img/background-image.jpg") no-repeat center center fixed;
   background-size: cover;
   min-height: 100vh;
}
.tab-separator {
   border-left: 1px $gray-800 solid;
}
.tab-active {
   text-decoration: underline;
}
